http 状态码含义

闲来无事，将http状态码看看 _[httpstatus.cn](http://www.httpstatus.cn/)_
HTTP状态码（HTTP Status Code）是用以表示网页服务器HTTP响应状态的3位数字代码。它由 RFC 2616 规范定义的，并得到RFC 2518、RFC 2817、RFC 2295、RFC 2774、RFC 4918等规范扩展。

所有状态码的第一个数字代表了响应的五种状态之一。
**1xx 消息**
```
100
客户端应该继续请求
101
服务交换协议
102
服务器已经收到请求并正在处理
103
恢复终止的PUT或POST请求
122
URI长度超过2083个字符
```
**2xx 成功**
```
200
请求成功，正常响应
201
请求已完成，新的资源创建
202
已经接受请求，等待接受处理
203
服务器已成功处理了请求，但返回的信息可能来自另一来源
204
请求已被处理，但没有任何内容返回
205
没有新的内容，但浏览器应该重置它所显示的内容
206
服务器成功处理了部分 GET 请求
207
XML消息，可以包含一系列独立的响应
208
results previously returned
226
request fulfilled, reponse is instance-manipulations
```
**3xx 重定向**
```
300
客户请求的文档可以在多个位置找到
301
客户请求的文档已经被永久移动到其他地方
302
客户请求的文档被临时移动到其他地方
303
对应当前请求的响应可以在另一个URI上被找到
304
请求资源从上次请求以来未被修改
305
客户请求的文档应该通过指定的代理服务器提取
306
在最新版的规范中，306状态码已经不再被使用
307
请求的资源现在临时从不同的URI响应请求
308
connect again to a different URI using the same method
```
**4xx 客户端错误**
```
400
请求包含语法错误
401
访问被拒绝，客户试图未经授权访问受密码保护的页面
402
该状态码是为了将来可能的需求而预留的
403
资源不可用
404
请求的资源在服务器上不存在
405
请求方法（GET、POST、HEAD等）对指定的资源不适用
406
请求资源的MIME类型和客户在Accpet头中所指定的不兼容
407
要求进行代理身份验证
408
在服务器许可的等待时间内，客户一直没有发出任何请求
409
由于请求和资源的当前状态相冲突，因此请求不能成功
410
请求资源不可用
411
请求没有指定被请求资源的长度
412
请求头中指定的一些前提条件失败
413
目标文档的大小超过服务器当前愿意处理的大小
414
URI长度超过服务器能够处理长度的上限
415
不支持的MIME媒体类型
416
服务器不能处理客户在请求中指定的Range头
417
在请求头Expect中指定的预期内容无法满足服务器
418
I'm a teapot
420
Twitter rate limiting
422
语义错误，无法响应请求
423
请求资源被锁定
424
由于之前的某个请求发生的错误，导致当前请求失败
426
客户端应当切换到TLS/1.0
428
origin server requires the request to be conditional
429
user has sent too many requests in a given amount of time
431
server is unwilling to process the request
444
server returns no information and closes the connection
449
request should be retried after performing action
450
Windows Parental Controls blocking access to webpage
451
the server cannot reach the client's mailbox
499
connection closed by client while HTTP server is processing
```
**5xx 服务器错误**
```
500
服务器遇到了意料不到的情况，不能完成客户的请求
501
服务器不支持实现请求所需要的功能
502
从上游服务器接收到无效的响应
503
服务不可用
504
网关不能及时地从远程服务器获得应答
505
服务器不支持请求中使用的HTTP版本
506
content negotiation for the request results in a circular reference
507
服务器无法存储完成请求所必须的内容
508
服务器处理请求时检测到一个无限循环
509
超过带宽的限制 服务器暂时无法提供服务
510
further extensions to the request are required
511
客户端需要进行身份验证以获得网络访问
598
network read timeout behind the proxy
599
network connect timeout behind the proxy
```